<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<ul>
    <li><h1>Brendlar</h1></li>
    <li><a href="{% url 'brands' %}">Hammasini ko'rish</a></li>
    <li><a href="{% url 'brand' 1 %}">Chevrolet</a></li>
    <li><a href="{% url 'brand' 2 %}">BYD</a></li>
    <li><a href="{% url 'brand' 3 %}">BMW</a></li>
</ul>

<ul>
    <li><h1>Modellar</h1></li>
    <li><a href="{% url 'models' %}">Hammasini ko'rish</a></li>
    <li><a href="{% url 'model' 1 %}">Malibu 2</a></li>
    <li><a href="{% url 'model' 2 %}">BYD xan</a></li>
    <li><a href="{% url 'model' 3 %}">BMW m6</a></li>
</ul>

</body>
</html>